@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0; }

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji; }

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none; }

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block; }

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em; }

button,
input,
optgroup,
select,
textarea, html input[type="button"],
input[type="reset"],
input[type="submit"], button[disabled],
html input[disabled], button::-moz-focus-inner,
input::-moz-focus-inner, input[type="checkbox"],
input[type="radio"], input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button, input[type="search"], input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration
input,
button,
textarea,
select {
  font: inherit; }

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

.pl-2 {
  padding-left: 2px; }

.pr-2 {
  padding-right: 2px; }

.div-flex-center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row; }

.d-ib {
  display: inline-block; }

.content-center {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.search-result-header {
  width: 60%;
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0 0 0; }

.header {
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  background-color: #24292e;
  padding: 16px;
  font-size: 14px; }
  .header__content {
    display: flex;
    align-items: flex-start; }
    .header__content .git-logo {
      padding: 0;
      margin: 0; }

.search {
  position: relative;
  padding: 2px 0 0 16px; }
  .search__input {
    background-color: rgba(255, 255, 255, 0.125);
    display: flex;
    border-radius: 3px;
    width: 300px;
    transition: width 300ms; }
    .search__input input {
      background-color: transparent;
      border: none;
      width: 100%;
      padding: 0 8px;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.9);
      font-weight: 400; }
      .search__input input::placeholder {
        color: rgba(255, 255, 255, 0.43); }
      .search__input input:focus, .search__input input:focus-within {
        outline: none; }
        .search__input input:focus::placeholder, .search__input input:focus-within::placeholder {
          color: rgba(31, 30, 30, 0.43); }
    .search__input img {
      margin: 4px 8px; }
    .search__input--focus {
      width: 470px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: 1px solid #e1e4e8;
      background-color: #fafbfc; }
      .search__input--focus .autocomplete__item {
        width: 470px !important; }
      .search__input--focus input {
        color: black; }
        .search__input--focus input::placeholder {
          color: rgba(255, 255, 255, 0); }
      .search__input--focus img {
        visibility: hidden; }
  .search__autocomplete {
    position: absolute;
    top: 31px; }

.autocomplete {
  border-radius: 0 0 3px 3px; }
  .autocomplete__item {
    display: flex;
    justify-content: space-around;
    animation: item-show 300ms;
    width: 470px;
    height: 45px;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #e1e4e8;
    cursor: pointer; }
    .autocomplete__item .repo-name {
      width: 70%;
      height: 23px;
      font-size: 14px;
      color: #1b1f23; }
    .autocomplete__item-type {
      font-size: 12px;
      color: #1b1f23;
      border: 1px solid #b1b5da;
      box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
      background-color: #f1f1f1;
      border-radius: 3px;
      padding: 0 4px; }
    .autocomplete__item:hover {
      background: #0366d6; }
      .autocomplete__item:hover .repo-name {
        color: #fff; }
      .autocomplete__item:hover path {
        fill: #fff; }
  .autocomplete:last-child {
    border-radius: 0 0 3px 3px; }

@keyframes item-show {
  from {
    width: 300px; }
  to {
    width: 470px; } }

.repo-item {
  width: 60%;
  display: flex;
  border-top: 1px solid #e1e4e8;
  margin: 10px;
  padding: 6px 3px; }
  .repo-item__icon {
    padding-top: 8px;
    margin-right: 8px; }
  .repo-item__name {
    vertical-align: middle; }
    .repo-item__name a {
      color: #0366d6;
      text-decoration: none; }
    .repo-item__name:hover a {
      text-decoration: underline; }
  .repo-item__description {
    font-size: 14px;
    color: #24292e; }
  .repo-item__info > div {
    margin-top: 3px; }
  .repo-item__about {
    height: 23px;
    font-size: 12px;
    color: #586069; }
    .repo-item__about a {
      text-decoration: none;
      margin-right: 6px; }
    .repo-item__about > div {
      display: inline-block;
      margin-right: 6px; }
    .repo-item__about .stars p {
      margin-left: 3px;
      color: #586069; }
    .repo-item__about .stars path {
      fill: #586069; }
    .repo-item__about .stars:hover p {
      color: #0366d6; }
    .repo-item__about .stars:hover path {
      fill: #0366d6; }
    .repo-item__about .language > div {
      border-radius: 50%;
      width: 12px;
      height: 12px;
      display: inline-block;
      margin-right: 4px; }

.topics__topic {
  display: inline-block;
  background-color: #f1f8ff;
  margin: 2px 4px 2px 0;
  padding: 2px 5px;
  color: #0366d6;
  font-size: 12px; }
  .topics__topic:hover {
    background-color: #def; }

.pagination {
  margin: 40px;
  display: flex;
  border: 1px solid #e1e4e8;
  border-radius: 3px;
  width: fit-content; }
  .pagination__item {
    font-size: 13px;
    font-weight: 600;
    color: #0366d6;
    padding: 7px 12px;
    border-right: 1px solid #e1e4e8;
    cursor: pointer; }
    .pagination__item:last-child {
      border: none; }
    .pagination__item--enable {
      background-color: #0366d6;
      color: #fff;
      border-color: #0366d6; }
    .pagination__item--disable {
      background-color: #fafbfc;
      color: #d1d5da;
      cursor: default; }


/*# sourceMappingURL=styles.chunk.css.map*/