.pl-2 {
  padding-left: 2px;
}

.pr-2 {
  padding-right: 2px;
}

.div-flex-center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.d-ib {
  display: inline-block;
}

.content-center {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-result-header {
  width: 60%;
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0 0 0;
}
